.main{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;;
}
.alert {
text-align: center;
padding:5px 50px 5px 50px;
margin: 5px 150px 5px 150px;
}
.tab{
    height: 200px;
    width: 80%;
    text-align-last: center;
    padding-left: 300px;
}
.button{
    text-align: center;
}